/*#proto_explainer_div{
  width: 100%;
}*/

body{
  margin: 0px;
}

.protograph_col_6 {
  width: 50%;
}

#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  margin-left: 20px;
  height: 450px;
  overflow: hidden;
}

#protograph-explainer-form-div {
  display: inline-block;
  top: 20px;
}


#protograph-explainer-card-div {
  display: inline-block;
  float: right;
  top: 20px;
}


#protograph-prev-link {
  cursor: pointer;
  margin-left: 0.75em;
}

fieldset {
  width:98%;
}

.protograph_explainer_header{
  font-size: 20px;
  line-height: 24px;
  font-family: sans-serif;
  font-weight: 900;
  min-height: 24px;
  margin-top: 0px;
}

.protograph_explainer_text {
  margin: 0 0 6px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  height: 70px;
}

.protograph_card_div {
  padding: 6px 5px;
  color: #fff;
  position: relative;
  text-align: left;
  color: #333 !important;
  padding: 10px 20px 5px 15px;
  background: #efefef;
  font-weight: 400 !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.protograph-edit-form {
  border-right: 1px solid #efefef ;
  box-sizing: border-box;
}

#protograph_read_more {
  color: #086FB4;
  cursor: pointer;
  text-decoration: none;
}

.protograph-primary-button {
  margin-left: 0.75em;
}

@media only screen and (max-width: 450px){
  .protograph_explainer_text {
    /*padding-left: 5px;*/
  }
  #protograph-explainer-card-div {
    padding-right: 0px;
    padding-left: 0px;
  }
}
