@import url('https://fonts.googleapis.com/css?family=Lato');
.mobile-div{
  border-style: solid;
  border-width: 1px;
  width: 320px;
  border-radius: 10px;
  border-color: grey;
  position: relative;
  overflow: inherit;
  margin: 0 auto;
  padding-bottom: 8px;
  font-family: 'Lato';
}

.laptop-div{
  border-style: solid;
  border-width: 1px;
  width: 640px;
  border-radius: 10px;
  border-color: grey;
  position: relative;
  overflow: inherit;
  margin: 0 auto;
  font-family: 'Lato';
}

#mla_party_div, #mla_edu_div{
  width: 50%;
}

.leader-name{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.mla-details{
  position: relative;
  padding-left: 15px;
  margin-top: 0px;
  border-bottom-style: solid;
  border-bottom-color: #C6CCCC;
  border-bottom-width: 1px;
  margin-bottom: 5px;
}


.mla-details img{
  position: absolute;
  top: 5px;
  right: 10px;
  border-radius: 50%;
  overflow: hidden;
  width: 25px;
  height: 25px;
}



table.mla-table {
  width: 640px;
  margin-bottom: 15px;
  table-layout: fixed;
}

.mla-table td {
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-color: #C6CCCC !important;
}

.mla-table td img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 3px;
}

.mla-table th {
  color: grey;
}

.mobile-mla-name {
  width: 150px;
  word-wrap: break-word;
  text-align: left;
  padding-left: 16px;
  padding-bottom: 6px;
}

.mobile-mla-assembly {
  width: 80px;
  text-align: left;
  padding-left: 10px;
}

.mobile-mla-assets{
  width: 80px;
  text-align: left;
}

.mobile-mla-education {
  width: 80px;
  text-align: left;
}

.mobile-mla-party {
  width: 80px;
  text-align: left;
  /*text-align: right;*/
  padding-left: 40px;
}
.mla-party-div{
  width:100px;
  padding:5px;
}
.mobile-mla-gender {
  width: 80px;
  text-align: left;
  /*text-align: right;*/
  padding-left: 40px;
}

.status-titles{
  color: grey;
  font-size: 11px;
  margin-bottom: 0px;
}

#card_title{
  margin-left: 16px;
  margin-top: 5px;
}

#assembly_location {
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 16px;
  color: grey;
}

.mla-info{
  display: inline-block;
  padding-bottom: 8px;
}

.card-scrollable{
  height: inherit;
  width: 100%;
  /*right: -17px;*/
  /*position: absolute;*/
}

body{
  margin: 0px;
}

.stream_cards {
  height: auto;
}

#ProtoScreenshot {
  width: 450px;
  padding: 10px 15px;
  height: 450px;
  overflow: hidden;
}

.protograph_card_div {
  padding: 6px 5px;
  color: #fff;
  position: relative;
  text-align: left;
  color: #333 !important;
  padding: 10px 20px 5px 15px;
  background: #efefef;
  font-weight: 400 !important;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}


@media only screen and (max-width: 450px){

}
